<!DOCTYPE html>
<html data-ng-app="prApp">
<head>
    <meta charset="UTF-8"/>
    <title>Symfony + AngularJs</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="{{ asset('app/lib/bootstrap/dist/css/bootstrap.css') }}" type="text/css" rel="stylesheet"/>


    <link href="{{ asset('app/styles/style.css') }}" type="text/css" rel="stylesheet"/>

    <link href="{{ asset('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css') }}" type="text/css"
              rel="stylesheet"/>
    <base href="/">
</head>
<body >

    <navbar></navbar>

    <div class="container index">
        <div data-ng-view=""></div>
    </div>
    <div class="page-buffer"></div>

    <footer></footer>

    {#Components#}
    <script src="{{ asset('app/lib/jquery/dist/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular/angular.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-animate/angular-animate.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-bootstrap/ui-bootstrap-tpls.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-cookies/angular-cookies.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-resource/angular-resource.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-route/angular-route.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-sanitize/angular-sanitize.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-touch/angular-touch.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/bootstrap/dist/js/bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-auto-validate/dist/jcs-auto-validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-local-storage/dist/angular-local-storage.min.js') }}" type="text/javascript"></script>
    {#Components#}

    {#config file angular#}

    <script src="{{ asset('app/scripts/app.js') }}" type="text/javascript"></script>

    {#config file angular#}

    {#controller start#}

    <script src="{{ asset('app/scripts/tableUserInfo/tableInfo.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/pageUser/pageUserCtrl.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/login/loginCtrl.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/registration/registrationCtrl.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/htmlTemplate/navbarCtrl.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/htmlTemplate/footerCtrl.js') }}" type="text/javascript"></script>


    {#controller end#}

    {#Service start#}

    <script src="{{ asset('app/scripts/login/loginService.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/registration/registrationService.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/tableUserInfo/TableInfoService.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/pageUser/usersService.js') }}" type="text/javascript"></script>

    {#Service end#}

    {#directive start #}

    <script src="{{ asset('app/scripts/htmlTemplate/navbarDir.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/htmlTemplate/footerDir.js') }}" type="text/javascript"></script>

    {#directive end #}




    {#<script src="{{ asset('app/lib/parsleyjs/dist/parsley.min.js') }}" type="text/javascript"></script>#}

    </body>
</html>
