<!DOCTYPE html>
<html data-ng-app="prApp">
<head>
    <meta charset="UTF-8"/>
    <title>Symfony + AngularJs</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="{{ asset('app/lib/bootstrap/dist/css/bootstrap.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('app/css/style.css') }}" type="text/css" rel="stylesheet"/>

    <link href="{{ asset('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css') }}" type="text/css"
              rel="stylesheet"/>
    <base href="/">
</head>
<body>

    <navbar></navbar>

    <div class="container index">
        <div data-ng-view=""></div>
    </div>
    <div class="page-buffer"></div>

    <footer></footer>

    <script src="{{ asset('app/scripts/js/jquery-1.11.3.js') }}" type="text/javascript"></script>

    <script src="{{ asset('app/lib/angular/angular.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-animate/angular-animate.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-bootstrap/ui-bootstrap-tpls.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-cookies/angular-cookies.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-resource/angular-resource.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-route/angular-route.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-sanitize/angular-sanitize.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/angular-touch/angular-touch.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/lib/bootstrap/dist/js/bootstrap.js') }}" type="text/javascript"></script>

    <script src="{{ asset('app/lib/angular-auto-validate/dist/jcs-auto-validate.min.js') }}" type="text/javascript"></script>


    <script src="{{ asset('app/scripts/app.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/js/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/controllers/tableInfo.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/controllers/pageUserCtrl.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/controllers/loginCtrl.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/controllers/registrationCtrl.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/controllers/navbarCtrl.js') }}" type="text/javascript"></script>

    <script src="{{ asset('app/scripts/services/loginService.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/services/registrationService.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/services/TableInfoService.js') }}" type="text/javascript"></script>
    {#<script src="{{ asset('app/scripts/filter/tableInfoFilter.js') }}" type="text/javascript"></script>#}


    <script src="{{ asset('app/scripts/directives/navbarDir.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/directives/footerDir.js') }}" type="text/javascript"></script>

    {#<script src="{{ asset('app/scripts/directives/navigationT.js') }}" type="text/javascript"></script>#}


    {#<script src="{{ asset('app/lib/parsleyjs/dist/parsley.min.js') }}" type="text/javascript"></script>#}

    </body>
</html>
